*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', bold;
}

.conteiner{
  width: 100%
  max-width: 1170px;
  margin: auto;
}

/* CABECERA */

header{
  width: 100%;
  height: 200px;
  background: white;
}

.logo{
  padding: 25px 0;
}

.logo img{
  width: 300px;
  display: block;
  margin: auto;
}

.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  max-width: 570px;
  margin: auto;
}

.menu a{
  text-decoration: none;
  color: #0a310b;
  font-size: 18px;
}

menu a:hover{
  color: #114b5f;
}
/* FIN DE CABECERA */

/* BANNER PRINCIPAL */

.banner{
  width: 100%;
  height: 500px;
  background-color:  #FF8C42;
  background-position: center;
  background-size: cover;
}

.banner > div{
  width: 100%;
  height: 100%;
  background-color: rgba(209, 219, 189, 0.47);
}

.conteiner-call-to-action{
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  height: 100%
}

.conteiner-call-to-action p{
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.conteiner-call-to-action h2{
  font-size: 60px;
  font-weight: 900;
  font-family: 'Montserrat' bold 700;
  color: white;
  width: 300%;
  padding: 45px 0;
  background-color: rgba(0, 143, 0, 0.4);
  max-width: 470px;
}

.conteiner-call-to-action a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 10px 50px;
  background-color: rgba(0, 143, 0, 0.7);
  margin-top: 15px;
}

.conteiner-call-to-action a:hover{
  background-color: rgba(0, 143, 0, 1);

  transition: all 0.3s ease-in-out;
}

/* FIN DEL BANNER PRINCIPAL */

/* BANEER PRESENTACION DEL PROYECTO */

.welcome-project{
  width: 100%;
  background-color: #114b5f;
  margin-top: 2px;
  color: white;
  text-align: center;
}

.welcome-project h3{
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 35px;
}

.welcome-project p{
  font-size: 16px;
  text-align: justify;
  padding-bottom: 35px;
  line-height: 1.5em;
  max-width: 500px;
  margin: 0 auto;
}

/* FIN DE BANNER PRESENTACION DEL PROYECTO */

/* INICIO SECCIÓN CLIENTES */

.clientes{
  padding-bottom: 80px;
}

.nuestros-clientes > .conteiner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.iconos-reciclaje{
  width: 100%;
  max-width:570px;
}

.iconos-reciclaje img{
  width: 100%;
  padding-top: 20px;
}

.clientes{
  text-align: center;
  padding: 15px 0px;
  max-width: 570px;

}

.clientes p:nth-child(1){
  font-size: 14px;
  color: #548C2F;
  font-weight: 900;
  padding-bottom: 20px;
  border-bottom: 1px solid #0a310b;
}

.clientes h3{
  padding-top: 20px;
  padding-bottom: 30px;
  color: #104911;
  font-size: 18px;
  font-weight: 900;
}

.clientes p:nth-child(3){
  font-size: 14px;
  color: #114b5f;
  padding-bottom: 25px;
  text-align: justify;
}

@media all and (min-width:769px){
  .nuestros-clientes{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .iconos-reciclaje img{
    margin-right: 30px;
  }
  .clientes{
    padding-left: 30px;
    text-align: left;
  }
}

/* FIN  SECCIÓN CLIENTES*/

/* INICIO PIE DE PAGINA */

.top-footer{
  background-color: #104911;
  height: 25px;
}

.center-footer{
  background-color: #114b5f;
}

.center-footer .conteiner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center-footer .widget{
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 35px;
  color: white;

  max-width: 270px;
  margin: 0 auto;
}

.center-footer .widget h4{
  padding-bottom: 35px;
  font-size: 18px;
}

.center-footer .widget img{
  width: 80%;
}

.center-footer .widget p{
  font-size: 14px;
}

.bottom-footer{
  background-color: #104911;
  height:  25px;
}

.bottom-footer p{
  color: white;
  font-size: 12px;
  text-align: center;
  padding-top: 6px;
}

/* FIN FOOTER */
